* {
    font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
}

html {
    background-image: url(./images/backgreound.png);
    position: relative;
    background-repeat: no-repeat;
}
body {
    margin: auto;
}
.book {
    position: relative;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
    /* transform: rotateY(-160deg);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2); */
}
.mainBook, .page {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 0.5em;
    background: left top no-repeat;
    background-size: cover;
    
}
/* Main Page */
.homeback {
        position: absolute;
        top: 36%;
        left: 72.7%;
        width: 300px;
        height: 480px;
}
/* logo */
  .logo {
    position: absolute;
    top: 40px;
    left: 82%;
    mix-blend-mode: multiply;

  }
/* nav bar start */
    .romanceMenu {
        position: absolute;
        top: 13%;
        left: 22%;
        width: 90px;
        height: 103px;
    } 
    .romanceMenu:hover {
        transform: scale(1.2);
    }
    .educationMenu {
        position: absolute;
        top: 13%;
        left: 32%;
        width: 90px;
        height: 105px;
    } 
    .educationMenu:hover {
        transform: scale(1.2);
    }
    /* top shelf for menu */
    .topShelf {
        position: absolute;
        top: 16.2%;
        left: 16%;
        width: 459px;
    }
    .crimeMenu {
        position: absolute;
        top: 29%;
        left: 22%;
        width: 90px;
        height: 103px;
    } 
    .crimeMenu:hover {
        transform: scale(1.2);
    }
    .fantasyMenu {
        position: absolute;
        top: 29%;
        left: 32%;
        width: 90px;
        height: 103px;
    } 
    .fantasyMenu:hover {
        transform: scale(1.2);
    }
    /* bottom shelf for menu */
    .bottomShelf {
        position: absolute;
        top: 32.2%;
        left: 16%;
        width: 459px;
    }
/* nav bar end */

/* post card start */
    .postcard {
        position: absolute;
        top: 64%;
        left: 17.7%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        line-height: 18px;
        font-weight: bold;
    }
    .center {
        position: absolute;
        top: 50%;
        left: 17%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        line-height: 18px;
        font-weight: bold;
        overflow-y: scroll;
    }
    .book-list {
        visibility: hidden;
        height: 120px;
        padding-top: 5px;
      }
    .textSearch {
        position: absolute;
        top: 74%;
        left: 21.7%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        line-height: 18px;
        font-weight: bold;
    }
    .bottomCard {
        position: absolute;
        top: 45%;
        left: 11%;
        width: 444px;
        height: 300px;
        mix-blend-mode: multiply;
    }
    .topCard {
        position: absolute;
        top: 12%;
        left: 53%;
        width: 264px;
        height: 300px;
        mix-blend-mode: multiply;
    }
    .topTxt1{
        position: absolute;
        top: 20%;
        left: 55.2%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        line-height: 18px;
        font-weight: bold;
        color: rgb(10, 79, 10);
    }
    .topTxt {
        position: absolute;
        top: 24%;
        left: 54.7%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        line-height: 18px;
        font-weight: bold;
    }
/* post card end */

/* gif start */
    .rightShelf {
        position: absolute;
        top: 65.2%;
        left: 55%;
        width: 534px;
    }
    .typewriter {
        position: absolute;
        top: 51.1%;
        left: 64%;
        width: 254px;
        height: 220px;
    }
/* gif end */

/* romacne page start */
    .romanceback {
        position: absolute;
        top: 30%;
        left: 74.4%;
    }
    /* menu */
    .romanceMenuR {
        position: absolute;
        top: 51.2%;
        left: 11%;
        width: 122px;
        height: 115px;
        transform: scale(1.1);
    } 
    .topShelfR {
        position: absolute;
        top: 57.2%;
        left: 6.2%;
        width: 434px;
    }
    .crimeMenuR {
        position: absolute;
        top: 70%;
        left: 11%;
        width: 112px;
        height: 105px;
    } 
    .crimeMenuR:hover {
        transform: scale(1.2);
    }
    .fantasyMenuR {
        position: absolute;
        top: 70%;
        left: 21%;
        width: 110px;
        height: 105px;
    } 
    .fantasyMenuR:hover {
        transform: scale(1.2);
    }
    .educationMenuR {
        position: absolute;
        top: 53.5%;
        left: 22%;
        width: 110px;
        height: 105px;
    } 
    .educationMenuR:hover {
        transform: scale(1.2);
    }
    /* bottom shelf for menu */
    .bottomShelfR {
        position: absolute;
        top: 74.2%;
        left: 6%;
        width: 434px;
    }
    /* menu end */

    /* postcard start */
    .topCardR {
        position: absolute;
        top: 12%;
        left: 53%;
        width: 294px;
        height: 220px;
        mix-blend-mode: multiply;
    }
    .topTxt1R{
        position: absolute;
        top: 20%;
        left: 59.2%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 17px;
        text-align: center;
        padding: 5px;
        line-height: 18px;
        font-weight: bold;
        color: rgb(10, 79, 10);
    }
    .topTxtR {
        position: absolute;
        top: 24%;
        left: 55.7%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        line-height: 18px;
        font-weight: bold;
    }
    #toptxtR {
        width: 200px;
        padding: 10px;
    }
    /* post card end */

    /* books start */
    .rightShelfR {
        position: absolute;
        top: 67.2%;
        left: 55%;
        width: 534px;
    }
    .romanceBook1 {
        position: absolute;
        top: 44.2%;
        left: 63%;
        width: 294px;
    }
    .romanceBook1Back {
        position: absolute;
        top: 45.8%;
        left: 64.9%;
        width: 234px;
    }
    .box1 .romanceBook1 {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 2;
    }
    .box1 .romanceBook1Back {
        transform: perspective(1000px) rotateY(180deg);
        z-index: 1;
    }
    .box1:hover .romanceBook1 {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
        visibility: hidden;
    }
    .box1:hover .romanceBook1Back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
        scale: 1.2;
    }
    .leftShelfR {
        position: absolute;
        top: 29.2%;
        left: 9%;
        width: 334px;
    }
    .romacneBook2 {
        position: absolute;
        top: 12.9%;
        left: 14%;
        width: 200px;
    }
    .romacneBook2Back {
        position: absolute;
        top: 12.9%;
        left: 14%;
        width: 190px;
    }
    .box2 .romanceBook2 {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 2;
    }
    .box2 .romacneBook2Back {
        transform: perspective(1000px) rotateY(180deg);
        z-index: 1;
        visibility: hidden;
    }
    .box2:hover .romanceBook2 {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
        visibility: hidden;
    }
    .box2:hover .romacneBook2Back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
        scale: 1.2;
        visibility: visible;
    }
    .leftBShelfR {
        position: absolute;
        top: 40.2%;
        left: 26%;
        width: 334px;
    }
    .romacneBook3 {
        position: absolute;
        top: 24.9%;
        left: 32%;
        width: 190px;
    }
    .romacneBook3Back {
        position: absolute;
        top: 24.9%;
        left: 32%;
        width: 190px;
    }
    .box3 .romanceBook3 {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 2;
    }
    .box3 .romacneBook3Back {
        transform: perspective(1000px) rotateY(180deg);
        z-index: 1;
        visibility: hidden;
    }
    .box3:hover .romanceBook3 {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
        visibility: hidden;
    }
    .box3:hover .romacneBook3Back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
        scale: 1.2;
        visibility: visible;
    }
    /* books end */

/* crime page start */
    .crimeback {
        position: absolute;
        top: 38%;
        left: 3%;
        mix-blend-mode: hard-light;
    }
    /* menu */
    .romanceMenuC {
        position: absolute;
        top: 53.2%;
        left: 26%;
        width: 110px;
        height: 105px;
    } 
    .romanceMenuC:hover {
        transform: scale(1.2);
    }
    .topShelfC {
        position: absolute;
        top: 57.2%;
        left: 19.2%;
        width: 434px;
    }
    .crimeMenuC {
        position: absolute;
        top: 68.8%;
        left: 26%;
        width: 112px;
        height: 105px;
        transform: scale(1.2);
    } 
    .fantasyMenuC {
        position: absolute;
        top: 70%;
        left: 35%;
        width: 110px;
        height: 105px;
    } 
    .fantasyMenuC:hover {
        transform: scale(1.2);
    }
    .educationMenuC {
        position: absolute;
        top: 53.5%;
        left: 35%;
        width: 110px;
        height: 105px;
    } 
    .educationMenuC:hover {
        transform: scale(1.2);
    }
    /* bottom shelf for menu */
    .bottomShelfC {
        position: absolute;
        top: 74.2%;
        left: 20%;
        width: 434px;
    }
    /* menu end */

    /* postcard start */
    .topCardC {
        position: absolute;
        top: 12%;
        left: 53%;
        width: 364px;
        height: 290px;
        mix-blend-mode: multiply;
    }
    .topCardC1 {
        position: absolute;
        top: 17%;
        left: 53%;
        width: 364px;
        height: 290px;
    }
    .topTxt1C{
        position: absolute;
        top: 20%;
        left: 62.2%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 17px;
        text-align: center;
        padding: 5px;
        line-height: 18px;
        font-weight: bold;
        color: rgb(10, 79, 10);
    }
    .topTxtC {
        position: absolute;
        top: 24%;
        left: 55.7%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        line-height: 18px;
        font-weight: bold;
    }
    #toptxtC {
        width: 200px;
        padding: 10px;

    }
    .gifC {
        position: absolute;
        top: 50.5%;
        left: 16%;
        width: 310px;
        height: 405px;
    }
    /* post card end */

    /* books start */
    .rightShelfC {
        position: absolute;
        top: 38.2%;
        left: 7%;
        width: 434px;
    }
    .crimeBook1 {
        position: absolute;
        top: 20.2%;
        left: 14%;
        width: 224px;
    }
    .crimeBook1Back {
        position: absolute;
        top: 20.2%;
        left: 14%;
        width: 224px;
    }
    .box10 .crimeBook1 {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 2;
    }
    .box10 .crimeBook1Back {
        transform: perspective(1000px) rotateY(180deg);
        z-index: 1;
        visibility: hidden;
    }
    .box10:hover .crimeBook1 {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
        visibility: hidden;
    }
    .box10:hover .crimeBook1Back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
        scale: 1.2;
        visibility: visible;
    }
    .leftShelfC {
        position: absolute;
        top: 77.2%;
        left: 53%;
        width: 334px;
    }
    .crimeBook2 {
        position: absolute;
        top: 60.9%;
        left: 57%;
        width: 200px;
    }
    .crimeBook2Back {
        position: absolute;
        top: 60.9%;
        left: 57%;
        width: 200px;
    }
    .box11 .crimeBook2 {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 2;
    }
    .box11 .crimeBook2Back {
        transform: perspective(1000px) rotateY(180deg);
        z-index: 1;
        visibility: hidden;
    }
    .box11:hover .crimeBook2 {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
        visibility: hidden;
    }
    .box11:hover .crimeBook2Back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
        scale: 1.2;
        visibility: visible;
    }
    .leftBShelfC {
        position: absolute;
        top: 67.2%;
        left: 70%;
        width: 334px;
    }
    .crimeBook3 {
        position: absolute;
        top: 51.9%;
        left: 75%;
        width: 190px;
    }
    .crimeBook3Back {
        position: absolute;
        top: 51.9%;
        left: 75%;
        width: 190px;
    }
    .box12 .crimeBook3 {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 2;
    }
    .box12 .crimeBook3Back {
        transform: perspective(1000px) rotateY(180deg);
        z-index: 1;
        visibility: hidden;
    }
    .box12:hover .crimeBook3 {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
        visibility: hidden;
    }
    .box12:hover .crimeBook3Back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
        scale: 1.2;
        visibility: visible;
    }
    /* books end */

/* education page start */
    .educationback {
        position: absolute;
        top: 23%;
        left: 75.3%;
        mix-blend-mode: darken;
    }
    /* menu */
    .romanceMenuE {
        position: absolute;
        top: 16.2%;
        left: 24.2%;
        width: 110px;
        height: 105px;
    } 
    .romanceMenuE:hover {
        transform: scale(1.2);
    }
    .topShelfE {
        position: absolute;
        top: 20.2%;
        left: 19.2%;
        width: 434px;
    }
    .crimeMenuE {
        position: absolute;
        top: 32.8%;
        left: 24%;
        width: 112px;
        height: 105px;
    }  
    .crimeMenuE:hover {
        transform: scale(1.2);
    }
    .fantasyMenuE {
        position: absolute;
        top: 32.9%;
        left: 34%;
        width: 105px;
        height: 105px;
    } 
    .fantasyMenuE:hover {
        transform: scale(1.2);
    }
    .educationMenuE {
        position: absolute;
        top: 15.6%;
        left: 33.6%;
        width: 110px;
        height: 105px;
        transform: scale(1.2);
    } 
   
    /* bottom shelf for menu */
    .bottomShelfE {
        position: absolute;
        top: 37%;
        left: 19%;
        width: 434px;
    }
    /* menu end */

    /* postcard start */
    .topCardE {
        position: absolute;
        top: 50%;
        left: 9%;
        width: 514px;
        height: 270px;
        mix-blend-mode: multiply;
    }
    .topTxt1E{
        position: absolute;
        top: 19%;
        left: 59.2%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 17px;
        text-align: center;
        padding: 5px;
        line-height: 18px;
        font-weight: bold;
        color: rgb(10, 79, 10);
    }
    .topTxtE {
        position: absolute;
        top: 22%;
        left: 55.7%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 11px;
        text-align: center;
        padding: 5px;
        line-height: 16px;
        font-weight: bold;
    }
    #toptxtE {
        width: 210px;
        padding: 5px;
        height: 700px;
    }
    /* post card end */

    /* books start */
    .rightShelfE {
        position: absolute;
        top: 32.2%;
        left: 50%;
        width: 434px;
    }
    .educationBook1 {
        position: absolute;
        top: 15.2%;
        left: 57%;
        width: 224px;
    }
    .educationBook1Back {
        position: absolute;
        top: 15.2%;
        left: 57%;
        width: 224px;
    }
    .box4 .educationBook1 {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 2;
    }
    .box4 .educationBook1Back {
        transform: perspective(1000px) rotateY(180deg);
        z-index: 1;
        visibility: hidden;
    }
    .box4:hover .educationBook1 {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
        visibility: hidden;
    }
    .box4:hover .educationBook1Back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
        scale: 1.2;
        visibility: visible;
    }
    .leftShelfE {
        position: absolute;
        top: 72.2%;
        left: 50%;
        width: 334px;
    }
    .educationBook2 {
        position: absolute;
        top: 55.9%;
        left: 54%;
        width: 200px;
    }
    .educationBook2Back {
        position: absolute;
        top: 55.9%;
        left: 54%;
        width: 200px;
    }
     .box5 .educationBook2 {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 2;
        visibility: visible;
    }
    .box5 .educationBook2Back {
        transform: perspective(1000px) rotateY(180deg);
        z-index: 1;
        visibility: hidden;
    }
    .box5:hover .educationBook2 {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
        visibility: hidden;
    }
    .box5:hover .educationBook2Back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
        scale: 1.2;
        visibility: visible;
    }
    .leftBShelfE {
        position: absolute;
        top: 63%;
        left: 66%;
        width: 334px;
    }
    .educationBook3 {
        position: absolute;
        top: 47.9%;
        left: 71%;
        width: 190px;
    }
    .educationBook3Back {
        position: absolute;
        top: 47.9%;
        left: 71%;
        width: 190px;
    }
    .box6 .educationBook3 {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 2;
        visibility: visible;
    }
    .box6 .educationBook3Back {
        transform: perspective(1000px) rotateY(180deg);
        z-index: 1;
        visibility: hidden;
    }
    .box6:hover .educationBook3 {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
        visibility: hidden;
    }
    .box6:hover .educationBook3Back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
        scale: 1.2;
        visibility: visible;
    }
    /* books end */

/* fantasy page start */
    .fantasyback {
        position: absolute;
        top: 15%;
        left: 28.5%;
        height: 600px;
        mix-blend-mode: hard-light;
    }
    /* menu */
    .romanceMenuF {
        position: absolute;
        top: 13.2%;
        left: 13%;
        width: 105px;
        height: 105px;
    } 
    .romanceMenuF:hover {
        transform: scale(1.2);
    }
    .topShelfF {
        position: absolute;
        top: 34.2%;
        left: 7.2%;
        width: 434px;
    }
    .crimeMenuF {
        position: absolute;
        top: 29.8%;
        left: 21%;
        width: 112px;
        height: 105px;
    } 
    .crimeMenuF:hover {
        transform: scale(1.2);
    }
    .fantasyMenuF {
        position: absolute;
        top: 29%;
        left: 12%;
        width: 110px;
        height: 105px;
        transform: scale(1.2);

    } 
    
    .educationMenuF {
        position: absolute;
        top: 13.5%;
        left: 21%;
        width: 110px;
        height: 105px;
    } 
    .educationMenuF:hover {
        transform: scale(1.2);
    }
    /* bottom shelf for menu */
    .bottomShelfF {
        position: absolute;
        top: 17.2%;
        left: 7%;
        width: 434px;
    }
    /* menu end */

    /* postcard start */
    .topCardF {
        position: absolute;
        top: 9%;
        left: 50%;
        width: 334px;
        height: 330px;
        mix-blend-mode: multiply;
    }
    .topCardF1 {
        position: absolute;
        top: 15%;
        left: 50%;
        width: 334px;
        height: 330px;
        mix-blend-mode: multiply;
    }
    .topTxt1F{
        position: absolute;
        top: 19%;
        left: 59.2%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 17px;
        text-align: center;
        padding: 5px;
        line-height: 18px;
        font-weight: bold;
        color: rgb(10, 79, 10);
    }
    .topTxtF {
        position: absolute;
        top: 22%;
        left: 55.7%;
        font-family: 'American Typewriter Bold', 'American Typewriter', 'Times New Roman', Times, serif;
        font-size: 11px;
        text-align: center;
        padding: 5px;
        line-height: 16px;
        font-weight: bold;
    }
    #toptxtF {
        width: 210px;
        padding: 5px;
        height: 700px;
    }
    /* post card end */

    /* books start */
    .rightShelfF {
        position: absolute;
        top: 68.2%;
        left: 18%;
        width: 434px;
    }
    .fantasyBook1 {
        position: absolute;
        top: 51.2%;
        left: 25%;
        width: 224px;
    }
    .fantasyBook1Back {
        position: absolute;
        top: 51.2%;
        left: 25%;
        width: 224px;
    }
    .box7 .fantasyBook1 {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 2;
        visibility: visible;
    }
    .box7 .fantasyBook1Back {
        transform: perspective(1000px) rotateY(180deg);
        z-index: 1;
        visibility: hidden;
    }
    .box7:hover .fantasyBook1 {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
        visibility: hidden;
    }
    .box7:hover .fantasyBook1Back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
        scale: 1.2;
        visibility: visible;
    }
    .leftShelfF {
        position: absolute;
        top: 71.2%;
        left: 49%;
        width: 334px;
    }
    .fantasyBook2 {
        position: absolute;
        top: 54.9%;
        left: 54%;
        width: 200px;
    }
    .fantasyBook2Back {
        position: absolute;
        top: 54.9%;
        left: 54%;
        width: 200px;
    }
    .box8 .fantasyBook2 {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 2;
        visibility: visible;
    }
    .box8 .fantasyBook2Back {
        transform: perspective(1000px) rotateY(180deg);
        z-index: 1;
        visibility: hidden;
    }
    .box8:hover .fantasyBook2 {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
        visibility: hidden;
    }
    .box8:hover .fantasyBook2Back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
        scale: 1.2;
        visibility: visible;
    }
    .leftBShelfF {
        position: absolute;
        top: 60.2%;
        left: 68%;
        width: 334px;
    }
    .fantasyBook3 {
        position: absolute;
        top: 44.9%;
        left: 73.5%;
        width: 190px;
    }
    .fantasyBook3Back {
        position: absolute;
        top: 44.9%;
        left: 73.5%;
        width: 190px;
    }
    .box9 .fantasyBook3 {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 2;
        visibility: visible;
    }
    .box9 .fantasyBook3Back {
        transform: perspective(1000px) rotateY(180deg);
        z-index: 1;
        visibility: hidden;
    }
    .box9:hover .fantasyBook3 {
        transform: perspective(1000px) rotateY(-180deg);
        z-index: 2;
        visibility: hidden;
    }
    .box9:hover .fantasyBook3Back {
        transform: perspective(1000px) rotateY(0deg);
        z-index: 1;
        scale: 1.2;
        visibility: visible;
    }
    
    /* books end */



